#section-5{
  .section{
    &-label,
    &-title,
    &-subtitle,
    &-description{
      max-width: 540px;
    }
    &-label{
      font-size: 15px;
    }
  }
  &.in-viewport{
    .cleaners-box{
      &.center{
        .cleaners-box-loader{
          circle{
            animation-play-state: running;
          }
        }
      }
    }
  }
}