#section-4{
  .section{
    &-box{
      &-bg{
        width: 50%;
        right: 0;
        background-color: var(--color-blue-100);
        border-radius: 5px 0 0 5px;
          &:before{
            content: '';
            position: absolute;
            top: 53%;
            width: 51px;
            height: 51px;
            left: -42px;
            border-radius: 5px;
            background-color: var(--color-blue-200);
            transform: translateY(-50%) rotate(45deg);
          }
      }
      &-content{
        @include d(1800){
          align-items: flex-start;
        }
      }
    }
  }
  .content-column{
    min-height: calc(100vh - 320px);
    display: flex;
    flex-direction: column;
    justify-content: center;
      &:nth-child(1){
        margin-right: 180px;
          @include d(1800){
            margin-right: 150px;
          }
          @include d(1700){
            margin-right: 120px;
          }
          @include d(1600){
            margin-right: 100px;
          }
          @include d(1440){
            margin-right: 90px;
          }
          @include d(1400){
            margin-right: 70px;
          }
      }
      &:nth-child(2){
        margin-left: 180px;
          @include d(1800){
            margin-left: 150px;
          }
          @include d(1700){
            margin-left: 120px;
          }
          @include d(1600){
            margin-left: 100px;
          }
          @include d(1440){
            margin-left: 90px;
          }
          @include d(1400){
            margin-left: 70px;
          }
      }
      @include d(1440){
        min-height: calc(100vh - 220px);
        padding-top: 20px;
      }
  }
  .h-3{
    span{
      background-color: var(--color-white);
      color: var(--color-blue-100);
    }
  }
  .illustration{
    width: 270px;
    height: 255px;
    bottom: -132px;
    left: 50%;
    transform: translateX(-50%);
      @include d(1440){
        bottom: -110px;
      }
  }
  .link-btn{
    margin-bottom: 40px;
  }
  &.in-viewport{
    .hobbies-item{
      &.show{
        opacity: 1;
        filter: blur(0);
        transition-delay: 0s;
      }
    }
  }
}