#section{
  &-0{
    .section{
      &-label,
      &-title,
      &-subtitle{
        max-width: 580px;
      }
    }
    .illustration{
      position: relative;
      width: 897px;
      height: 558px;
      right: -194px;
      top: -5px;
    }
  }
}