#section-7{
  .section{
    &-title{
      max-width: 630px;
        @include d(1200){
          margin: 0 auto 31px;
        }
    }
    &-description{
      max-width: 505px;
        @include d(1200){
          margin: 0 auto;
          max-width: 630px;
        }
    }
    &-box{
      @include d(1200){
        padding-bottom: 0;
      }
    }
  }
  .h-2{
    span{
      background-color: var(--color-white);
      color: var(--color-purple);
    }
  }
  .illustration{
    position: relative;
    max-width: 783px;
    width: 41vw;
    max-height: 541px;
    height: 29vw;
    margin: 0 -45px 0 45px;
      @include d(1441){
        max-width: 572px;
        max-height: 400px;
        width: 40vw;
        height: 28vw;
      }
      @include d(1200){
        max-height: 422px;
        margin: 155px auto -5px;
        width: 75vw;
        height: 52vw;
      }
      @include d(600){
        margin: 75px auto -5px;
        width: 89vw;
        height: 63vw;
      }
  }
  .content-column{
    &:nth-child(1){
      @include d(1200){
        padding-top: 62px;
      }
      @include d(600){
        padding-top: 30px;
          .link-btn{
            width: 100%;
          }
      }
    }
  }
  @include d(1200){
    text-align: center;
  }
  @include d(600){
    text-align: left;
  }
}