:root {
  --color-black:                          #151414;
  --color-black-100:                      #313131;
  --color-grey:                           #C5C5C5;
  --color-white:                          #FFFFFF;
  --color-blue:                           #0C4ADC;
  --color-blue-100:                       #1F5BE8;
  --color-blue-200:                       #85E2FF;
  --color-purple:                         #6232E9;
  --color-purple-100:                     #D5B4FF;
  --color-pink:                           #FF4387;
  --color-pink-100:                       #FFB7D5;
  --color-green:                          #7AEFC5;
  --color-error:                          #EC3E3E;
  --color-success:                        #27B557;
  --color-viber:                          #7F50B8;
  --color-viber-100:                      #9D34CE;
  --color-telegram:                       #158ACA;
  --color-telegram-100:                   #04AEE3;
  --color-whatsapp:                       #27B557;
  --color-whatsapp-100:                   #14CF75;
  --font-title:                           'TTWellingtons-DemiBold';
  --font-bold:                            'Montserrat-Bold';
  --font-medium:                          'Montserrat-Medium';
  --font-regular:                         'Montserrat-Regular';
}