h1{
  font-size: 74px;
  font-family: var(--font-title);
  line-height: 1.3em;
}

h2{
  font-size: 56px;
  font-family: var(--font-title);
  line-height: 1.3em;
}

h3{
  font-size: 44px;
  font-family: var(--font-title);
  line-height: 1.3em;
}

h4{
  font-size: 32px;
  font-family: var(--font-title);
  line-height: 1.3em;
}

h5{
  font-size: 28px;
  font-family: var(--font-title);
  line-height: 1.3em;
}

p, li{
  font-size: 22px;
  line-height: 1.6em;
  font-family: inherit;
}