h1{
  font-size: 74px;
  font-family: var(--font-title);
  line-height: 1.3em;
    @include d(1600){
      font-size: 68px;
    }
    @include d(1441){
      font-size: 66px;
    }
    @include d(1400){
      font-size: 62px;
    }
    @include d(600){
      font-size: 40px;
    }
    @include d(350){
      font-size: 36px;
    }
}

h2{
  font-size: 56px;
  font-family: var(--font-title);
  line-height: 1.3em;
    @include d(1441){
      font-size: 50px;
    }
    @include d(1200){
      font-size: 42px;
    }
    @include d(600){
      font-size: 32px;
    }
}

h3{
  font-size: 44px;
  font-family: var(--font-title);
  line-height: 1.3em;
    @include d(1441){
      font-size: 38px;
    }
    @include d(1200){
      font-size: 42px;
    }
    @include d(600){
      font-size: 28px;
    }
}

h4{
  font-size: 32px;
  font-family: var(--font-title);
  line-height: 1.3em;
    @include d(1600){
      font-size: 30px;
    }
    @include d(600){
      font-size: 26px;
    }
}

h5{
  font-size: 28px;
  font-family: var(--font-title);
  line-height: 1.3em;
    @include d(1441){
      font-size: 22px;
    }
    @include d(600){
      font-size: 18px;
    }
}

p, li{
  font-size: 22px;
  line-height: 1.6em;
  font-family: inherit;
  color: inherit;
    @include d(1441){
      font-size: 20px;
    }
    @include d(1200){
      font-size: 22px;
    }
    @include d(600){
      font-size: 18px;
    }
}

strong, b{
  font-family: var(--font-bold);
  color: inherit;
}