.accordion{
  max-width: 760px;
    &-box{
      border-top: 1px rgba(255,255,255,.2) solid;
      border-bottom: 1px rgba(255,255,255,.2) solid;
      padding: 20px 0 18px;
      margin-bottom: -1px;
        &-head{
          position: relative;
          padding-right: 40px;
          cursor: pointer;
        }
        &-content{
          font-size: 18px;
          padding-top: 20px;
          display: none;
            p, li{
              font-size: inherit;
            }
            @include d(600){
              font-size: 16px;
            }
        }
        &-btn{
          position: absolute;
          right: 12px;
          top: 11px;
          width: 14px;
          height: 14px;
            &:before,
            &:after{
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              background-color: var(--color-white);
              transition: all .2s ease;
            }
            &:before{
              width: 2px;
              height: 14px;
            }
            &:after{
              width: 14px;
              height: 2px;
            }
            @include d(1441){
              top: 6px;
            }
            @include d(600){
              right: 7px;
              top: 4px;
            }
        }
        &.open{
          .accordion-box{
            &-content{
              display: block;
            }
            &-btn{
              &:before{
                height: 0;
              }
            }
          }
        }
        @include d(600){
          padding: 22px 0 21px;
        }
    }
    @include d(1441){
      max-width: 630px;
    }
    @include d(1200){
      max-width: 100%;
    }
}