body{
  font-family: var(--font-medium);
  background-color: var(--color-white);
}

li{
  position: relative;
}

#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.container{
  position: relative;
  padding: 0 15px;
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
}

.logo{
  display: inline-block;
  width: 119px;
  height: 36px;
}