body{
  font-family: var(--font-medium);
  background-color: var(--color-white);
  color: var(--color-black);
}

li{
  position: relative;
}

a[href^=tel]{
  white-space: nowrap;
}

#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container{
  position: relative;
  padding: 0 15px;
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
    @include d(1800){
      max-width: 100%;
      padding: 0 77px;
    }
    @include d(1200){
      padding: 0 50px;
      max-width: 900px;
    }
    @include d(600){
      padding: 0 20px;
    }
}

.logo{
  display: inline-block;
  width: 119px;
  height: 36px;
  transition: color .2s ease;
  position: relative;
  z-index: 1;
    svg{
      width: 100%;
      height: 100%;
    }
    @include d(1440){
      width: 105px;
      height: 32px;
    }
    @include d(600){
      width: 92px;
      height: 28px;
    }
}

.cta-quote{
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/quote.svg);
  color: var(--color-white);
  font-size: 27px;
  top: -2px;
  right: 22%;
  padding: 45px;
    &-label{
      transform-origin: center;
      transform: rotate(-4.04deg);
      text-align: center;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    @include d(1700){
      top: -30px;
      right: 10%;
    }
    @include d(1440){
      font-size: 21px;
      padding: 30px;
      right: 18%;
    }
    @include d(600){
      font-size: 15px;
      padding: 20px;
      right: 12%;
    }
}

.iScrollLoneScrollbar{
  display: none;
}