.link{
  font-size: 17px;
  line-height: 1.2em;
  font-family: var(--font-medium);
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
  display: inline-block;
  transition: opacity .4s ease;
  color: inherit;
    &-bold{
      font-size: 20px;
      font-family: var(--font-bold);
      line-height: 1.6em;
    }
    &-xl{
      font-size: 28px;
    }
    &-sm{
      font-size: 14px;
    }
    @include hover(991){
      &:hover{
        opacity: .7;
      }
    }
    &-btn{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
      height: 66px;
      font-size: 18px;
      border-radius: 100px;
      padding: 0 35px;
      line-height: 66px;
      border: none;
      position: relative;
      color: var(--color-white);
      transition: color .4s cubic-bezier(0.1, 0, 0.3, 1);
        &-title{
          position: relative;
          color: inherit;
          pointer-events: none;
        }
        &-bg{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 100px;
          transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
          background-color: var(--color-blue);
            &:before,
            &:after{
              content: '';
              position: absolute;
              background-color: var(--color-white);
            }
            &:before{
              width: 100%;
              height: 0;
              padding-bottom: 110%;
              top: 50%;
              left: 50%;
              border-radius: 50%;
              transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
            }
            &:after{
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              transition: opacity 0.3s;
            }
        }
        &-icon{
          width: 24px;
          height: 24px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          position: relative;
        }
        &-circle{
          pointer-events: none;
          width: 10px;
          height: 10px;
          opacity: .1;
          position: absolute;
          border-radius: 50%;
          background-color: var(--color-blue);
          z-index: 1;
        }
        &.__vb{
          .link-btn-bg{
            background-color: var(--color-viber);
              &:before,
              &:after{
                background-color: var(--color-viber-100);
              }
          }
          @include hover(991){
            &:hover{
              color: var(--color-white);
            }
          }
        }
        &.__tg{
          .link-btn-bg{
            background-color: var(--color-telegram);
            &:before,
            &:after{
              background-color: var(--color-telegram-100);
            }
          }
          @include hover(991){
            &:hover{
              color: var(--color-white);
            }
          }
        }
        &.__wa{
          .link-btn-bg{
            background-color: var(--color-whatsapp);
            &:before,
            &:after{
              background-color: var(--color-whatsapp-100);
            }
          }
          @include hover(991){
            &:hover{
              color: var(--color-white);
            }
          }
        }
        &.__vb,
        &.__tg,
        &.__wa{
          .link-btn-circle{
            background-color: var(--color-white);
          }
        }
        @include hover(991){
          &:hover{
            color: var(--color-blue);
              .link-btn-bg{
                transform: scale3d(1.15,1.15,1);
                  &:before{
                    transition: transform .4s cubic-bezier(0.1, 0, 0.3, 1);
                    transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
                  }
                  &:after{
                    opacity: 1;
                    transition-duration: 0.01s;
                    transition-delay: 0.3s;
                  }
              }
          }
        }
      }
}

.pink-to-white{
  color: var(--color-white);
    .link-btn{
      &-bg {
        background-color: var(--color-pink);
          &:before,
          &:after {
            background-color: var(--color-white);
          }
      }
      &-circle{
        background-color: var(--color-blue);
      }
    }
    @include hover(991){
      &:hover{
        color: var(--color-blue);
      }
    }
}

.pink-to-pink{
  color: var(--color-white);
    .link-btn{
      &-bg{
        background-color: var(--color-pink);
          &:before,
          &:after{
            background-color: var(--color-pink-100);
          }
      }
      &-circle{
        background-color: var(--color-pink);
      }
    }
    @include hover(991){
      &:hover{
        color: var(--color-black);
      }
    }
}

.purple-to-white{
  .link-btn{
    &-bg{
      background-color: var(--color-purple);
        &:before,
        &:after{
          background-color: var(--color-white);
        }
    }
    &-circle{
      background-color: var(--color-purple);
    }
  }
  @include hover(991){
    &:hover{
      color: var(--color-purple);
    }
  }
}

.btn{
    &-border{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px var(--color-black) solid;
      z-index: 1;
      transition: border-color .4s ease;
    }
    &-bg{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-blue-200);
      border-radius: 50%;
      transform: scale(0);
      transition: transform .4s ease;
      pointer-events: none;
    }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}