.cards{
  display: flex;
  flex-wrap: wrap;
  margin: 68px -30px 70px;
    @include d(1600){
      margin: 68px -15px 70px;
    }
    @include d(1440){
      margin: 45px -15px 60px;
    }
    @include d(1200){
      flex-direction: column;
      margin: 45px 0 40px;
    }
    @include d(600){
      margin: 34px 0 36px;
    }
}

.card{
  padding: 0 30px;
  flex: 1;
    &-box{
      background-color: var(--color-white);
      border-radius: 15px;
      height: 237px;
      position: relative;
      padding: 32px 40px;
      overflow: hidden;
        &-label{
          color: var(--color-purple);
          font-size: 15px;
          text-transform: uppercase;
          font-family: var(--font-bold);
          line-height: 1.867em;
          margin-bottom: 13px;
            @include d(600){
              margin-bottom: 17px;
            }
        }
        &-title{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          max-width: 300px;
          padding-right: 25px;
            @include d(1440){
              max-width: 260px;
              font-size: 26px;
            }
            @include d(1300){
              font-size: 22px;
              max-width: 225px;
            }
            @include d(1200){
              font-size: 30px;
              max-width: 295px;
            }
            @include d(600){
              font-size: 22px;
              max-width: 80%;
            }
        }
        &-illustration{
          position: absolute;
            svg{
              width: 100%;
              height: 100%;
            }
        }
        @include d(1440){
          height: 212px;
          padding: 35px;
        }
        @include d(1200){
          padding: 40px 40px 52px;
          height: auto;
        }
        @include d(600){
          padding: 24px 20px 35px;
        }
    }
    &:nth-child(1){
      .card-box-illustration{
        width: 137px;
        height: 179px;
        top: 30px;
        right: -32px;
          @include d(1440){
            width: 120px;
            height: 165px;
            top: 23px;
            right: -35px;
          }
          @include d(1200){
            right: -21px;
          }
          @include d(600){
            width: 104px;
            height: 135px;
            top: 15px;
            right: -25px;
          }
      }
    }
    &:nth-child(2){
      .card-box-illustration{
        width: 166px;
        height: 235px;
        top: -28px;
        right: -13px;
          @include d(1440){
            width: 140px;
            height: 208px;
            top: -20px;
            right: 1px;
          }
          @include d(1200){
            top: -24px;
            right: -16px;
          }
          @include d(600){
            top: -15px;
            right: -16px;
            width: 115px;
            height: 168px;
          }
      }
    }
    &:nth-child(3){
      .card-box-illustration{
        width: 155px;
        height: 157px;
        top: 36px;
        right: -31px;
          @include d(1440){
            width: 135px;
            height: 137px;
            top: 39px;
            right: -25px;
          }
          @include d(1200){
            top: 62px;
            right: -31px;
          }
          @include d(600){
            width: 118px;
            height: 120px;
            top: 42px;
            right: -24px;
          }
      }
    }
    @include d(1600){
      padding: 0 15px;
    }
    @include d(1200){
      width: 100%;
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
        &:not(:last-child){
          margin-bottom: 20px;
        }
    }
    @include d(991){
      max-width: 508px;
    }
    @include d(600){
      padding: 0;
    }
}