.cleaners {
  max-width: 385px;
  width: 100%;
  height: 571px;
  visibility: visible;
  margin: 0 auto;
    &-box {
      max-width: 385px;
      width: 100%;
      text-align: center;
      background-color: var(--color-white);
      border-radius: 20px;
      overflow: hidden;
      padding: 75px 35px 110px;
      position: relative;
      height: 571px;
      //margin: 0 176px 30px auto;
        &-photo {
          width: 172px;
          height: 172px;
          border-radius: 50%;
          overflow: hidden;
          margin: 0 auto 45px;
          position: relative;
          padding: 10px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
              object-position: center;
            }
            @include d(1440){
              width: 144px;
              height: 144px;
              margin: 0 auto 32px;
            }
            @include d(600){
              width: 150px;
              height: 150px;
            }
        }
        &-title {
          margin-bottom: 15px;
            @include d(1440){
              margin-bottom: 10px;
            }
        }
        &-description {
          font-size: 18px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
            @include d(1440){
              font-size: 14px;
            }
        }
        &-rating {
          display: flex;
          align-items: center;
          position: absolute;
          bottom: 73px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 16px;
            .rating {
              margin-left: 12px;
            }
            @include d(1440){
              font-size: 14px;
              bottom: 58px;
            }
        }
        &-loader{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          transform: rotate(-90deg);
          transform-origin: center;
            .progress-ring{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            circle{
              transition: stroke-dashoffset 0.4s ease;
              stroke: var(--color-blue);
              stroke-dasharray: 527.788, 527.788;
              stroke-dashoffset: 527.788;
            }
        }
        &.center{
          z-index: 1;
          opacity: 1;
          transform: translateX(0) scale(1);
            .cleaners-box-loader{
              circle{
                animation: progress 5s 1 ease-out;
                animation-fill-mode: both;
                animation-play-state: paused;
              }
            }
        }
        &.prev{
          transform: translateX(-195px) scale(0.78);
            @include d(1300){
              transform: translateX(-155px) scale(0.78);
            }
        }
        &.next{
          transform: translateX(195px) scale(0.78);
            @include d(1300){
              transform: translateX(155px) scale(0.78);
            }
        }
        &.prev,
        &.next{
          opacity: .8 !important;
          z-index: 0;
          pointer-events: auto;
          cursor: pointer;
            @include d(1200){
              transform: translate(0) scale(1);
              opacity: 1 !important;
            }
            //.cleaners-box-loader{
            //  circle{
            //    animation: progressBack .2s 1 ease-out;
            //  }
            //}
        }
        @include m(1201){
          position: absolute;
          top: 0;
          transform: translateX(0) scale(.8);
          opacity: 0;
          z-index: -1;
          pointer-events: none;
          transition: transform .6s ease-out, opacity .6s ease-out !important;
        }
        @include d(1440){
          max-width: 278px;
          height: 442px;
          border-radius: 15px;
          padding: 46px 35px 80px;
        }
        @include d(1200){
          &:not(:last-child){
            margin-right: 20px;
          }
        }
    }
    &-dots{
      //display: flex;
      align-items: center;
      justify-content: center;
      margin: 60px -73px -45px 73px;
      display: none;
        &-item{
          width: 10px;
          height: 10px;
          margin: 5px 8px;
          border-radius: 50%;
          pointer-events: none;
            &:before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: .4;
              border-radius: 50%;
              background-color: var(--color-blue);
              transition: opacity .6s ease, transform .6s ease;
            }
            &.active,
            &.prev,
            &.next{
              pointer-events: auto;
              cursor: pointer;
                &:before{
                  transform: scale(1);
                }
            }
            &.active{
                &:before{
                  transform: scale(1.5);
                  opacity: 1;
                }
            }
        }
        &-carousel{
          width: 80px;
        }
    }
    @include m(1201){
      .splide{
          &__track,
          &__list{
            height: 100%;
            width: 100%;
            overflow: visible;
          }
          &__list{
            display: flex;
            justify-content: center;
          }
      }
    }
    @include d(1440){
      max-width: 278px;
      height: 442px;
    }
    @include d(1200){
      width: calc(100% + 120px);
      max-width: none;
      height: auto;
      margin: 40px -60px 4px;
      padding: 0 60px;
        .splide__track{
          overflow: visible;
        }
    }
    @include d(600){
      margin: 45px -30px 10px;
      padding: 0 30px;
      width: calc(100% + 60px);
    }
    .splide__pagination{
      margin: 50px auto 0;
        @include d(1440){
          margin: 16px auto 0;
        }
        @include d(1200){
          margin: 22px auto 0;
        }
    }
    //&:hover{
    //  .cleaners-box-loader{
    //    circle{
    //      animation-play-state: paused !important;
    //    }
    //  }
    //}
}

.rating {
  font-size: 17px;
  font-family: var(--font-bold);
  display: inline-flex;
  align-items: center;
    &-star {
      width: 17px;
      height: 16px;
      margin-right: 5px;
    }
    @include d(1440){
      font-size: 14px;
    }
}

.splide__pagination {
  width: 100%;
    &__page {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0;
      border: none;
      position: relative;
      background-color: transparent;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: .4;
          border-radius: 50%;
          background-color: var(--color-blue);
          transition: opacity .6s ease, transform .6s ease;
        }
        &.is-active {
        &:before {
          transform: scale(1.5);
          opacity: 1;
        }
      }
    }
    li {
      padding: 8px;
    }
}

@keyframes progress {
  0% {
    stroke-dashoffset: 527.788;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes progressBack {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -527.788;
  }
}