.cleaners {
  width: 682px;
  &-box {
    max-width: 385px;
    width: 100%;
    text-align: center;
    background-color: var(--color-white);
    border-radius: 20px;
    overflow: hidden;
    padding: 80px 35px 110px;
    position: relative;
    height: 571px;
    margin: 0 30px;
    //margin: 0 176px 30px auto;

    &-photo {
      width: 159px;
      height: 159px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto 53px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-title {
      margin-bottom: 15px;
    }

    &-description {
      font-size: 18px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    &-rating {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 73px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;

      .rating {
        margin-left: 12px;
      }
    }
    &.is-active{
      z-index: 1;
      & ~ .cleaners-box{
        transform: translateX(80%);
        opacity: .5;
      }
    }
  }
}

.rating {
  font-size: 17px;
  font-family: var(--font-bold);
  display: inline-flex;
  align-items: center;

  &-star {
    width: 17px;
    height: 16px;
    margin-right: 5px;
  }
}