.footer{
  border-radius: 15px;
  //margin: 15px 30px 30px;
  //margin: 15px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
    &-nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px rgba(255,255,255,.1) solid;
      padding: 30px 0;
      max-width: 50%;
      margin-left: auto;
      margin-top: -83px;
      position: relative;
      z-index: 1;
        &-label{
          display: inline-flex;
          align-items: center;
          opacity: .7;
          font-size: 14px;
            img{
              max-height: 15px;
              margin-left: 15px;
            }
            a{
              display: inherit;
            }
            @include d(1300){
              font-size: 12px;
            }
            @include d(1200){
              font-size: 14px;
            }
            @include d(600){
              &:not(:last-child){
                margin-bottom: 25px;
              }
            }
        }
        .link{
          opacity: .7;
            @include d(600){
              margin-bottom: 25px;
            }
        }
        @include d(1440){
          max-width: 58%;
        }
        @include d(1300){
          margin-top: -80px;
        }
        @include d(1200){
          margin-top: 30px;
          max-width: 100%;
          padding: 22px 0 30px;
        }
        @include d(600){
          flex-direction: column;
          align-items: center;
        }
    }
    &-title{
      margin-bottom: 72px;
      opacity: 0;
      // transition: opacity .4s ease;
        @include d(1440){
          margin-bottom: 20px;
        }
        @include d(1200){
          display: none;
        }
    }
    &.section{
      margin-bottom: 0;
      //padding: 0 0 30px;
      //  @include d(1440){
      //    padding: 0 0 20px;
      //  }
      //  @include d(1200){
      //    padding: 0 0 10px;
      //  }
    }
    .section-box{
      color: var(--color-white);
      min-height: 0;
      padding: 0;
      overflow: visible;
      margin-bottom: 30px;
        &:before{
          content: '';
          position: absolute;
          top: 30px;
          right: 30px;
          bottom: 0;
          left: 30px;
          border-radius: 15px;
          background-color: var(--color-black-100);
            @include d(1440){
              top: 20px;
              right: 20px;
              left: 20px;
            }
            @include d(1200){
              display: none;
            }
        }
        &-content{
          min-height: 574px;
          align-items: flex-end;
            @include d(1440){
              min-height: 502px;
            }
        }
        @include d(1440){
          margin-bottom: 20px;
        }
        @include d(1200){
          background-color: var(--color-black-100);
          margin-bottom: 10px;
        }
    }
    .illustration{
      max-width: 709px;
      max-height: 496px;
      width: 37vw;
      height: 26vw;
      margin-left: -123px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: -2px;
        @include d(1440){
          max-width: 596px;
          max-height: 417px;
          width: 42vw;
          margin-left: -146px;
          height: 29vw;
        }
        @include d(1200){
          margin-left: auto;
          margin-right: auto;
          width: 78vw;
          height: 54vw;
        }
        @include d(600){
          margin-left: -12px;
          margin-right: 0;
          width: 89vw;
          height: 62vw;
        }
    }
    .content-column{
      &:nth-child(1){
        @include d(1440){
          max-width: 42%;
        }
        @include d(1200){
          order: 2;
          max-width: 100%;
        }
      }
      &:nth-child(2){
        padding-bottom: 82px;
          @include d(1440){
            max-width: 58%;
            padding-bottom: 83px;
          }
          @include d(1200){
            order: 1;
            max-width: 100%;
            padding-top: 110px;
            padding-bottom: 50px;
          }
          @include d(600){
            padding-top: 30px;
          }
      }
    }
    &:before, .before{
      content: '';
      position: absolute;
      top: 0;
      left: -30px;
      right: -30px;
      background-color: var(--color-blue-200);
      height: 100%;
      opacity: 0;
      pointer-events: none;
      transition: opacity .4s ease;
    }
    .fp{
      &-scrollable {
        @include m(1201) {
          display: flex;
          align-items: flex-end;
        }
      }
      &-tableCell{
        vertical-align: bottom;
      }
    }
    @include m(1201){
      &.in-viewport,
      &.active{
        &:before{
          // transition-delay: 1s;
          opacity: 1;
        }
        .footer-title{
          opacity: 1;
          // transition-delay: 1s;
        }
      }
      a[href^=tel]{
        pointer-events: none;
      }
    }
    @include d(1440){
      //margin: 10px 20px 0;
    }
    @include d(1200){
      //margin: 10px 10px 0;
    }
}
