.header{
  position: fixed;
  top: 45px;
  left: 45px;
  right: 45px;
  width: calc(100% - 90px);
  z-index: 3;
  color: var(--color-white);
  border-radius: 13px;
  padding: 15px 10px 19px;
  transition: background-color .4s ease, top .4s ease, box-shadow .4s ease;
    &-panel{
      display: flex;
      justify-content: space-between;
      align-items: center;
        &-logo{
            .logo{
                &-letter,
                &-star{
                  fill: currentColor;
                }
            }
        }
        &-nav{
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 150px;
            @include d(1700){
              padding-left: 70px;
            }
            @include d(1400){
              padding-left: 30px;
            }
        }
        &-action{
          display: flex;
          align-items: center;
          justify-content: flex-end;
            .languages{
              margin-right: 28px;
                @include d(1440){
                  margin-right: 18px;
                }
            }
        }
    }
    &.smart{
      top: 45px;
      background-color: var(--color-white);
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
      color: var(--color-black);
        .logo{
            &-letter{
              fill: var(--color-black);
            }
            &-star{
              fill: var(--color-blue-100);
            }
        }
        .languages{
            &-current{
              color: var(--color-blue);
                &:before{
                  background-color: var(--color-blue);
                }
            }
        }
        @include d(1440){
          top: 35px;
        }
    }
    &.hidden{
      top: -94px;
      box-shadow: none;
        @include d(1800){
          top: -90px;
        }
        @include d(1440){
          top: -72px;
        }
    }
    .container{
      max-width: 100%;
        @include d(1800){
          padding: 0 25px;
        }
    }
    @include d(1800){
      padding: 15px 0;
    }
    @include d(1440){
      padding: 11px 0;
      left: 35px;
      right: 35px;
      top: 32px;
      width: calc(100% - 70px);
    }
}