.languages{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
    &-current{
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-bold);
      text-align: center;
      line-height: 60px;
      position: relative;
      transition: color .4s ease;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: .1;
          background-color: var(--color-white);
          border-radius: 50%;
          transition: background-color .4s ease, opacity .2s ease;
            @include d(1200){
              opacity: 0;
            }
        }
        @include d(1600){
          font-size: 18px;
        }
        @include d(1440){
          font-size: 16px;
          line-height: 50px;
        }
        @include d(1400){
          font-size: 15px;
        }
        @include d(1300){
          font-size: 14px;
        }
        @include d(1200){
          line-height: 58px;
          font-size: 19px;
        }
    }
    &-modal{
      position: absolute;
    }
    @include d(1440){
      width: 50px;
      height: 50px;
    }
    @include d(1200){
      width: 58px;
      height: 58px;
    }
}