.modal{
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow-y: auto;
  overflow-x: hidden;
    &-bg{
      background-color: var(--color-blue);
      opacity: .85;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      position: relative;
      z-index: 1;
      min-height: 100%;
      padding: 30px 0;
        &-box{
          max-width: 500px;
          width: calc(100% - 36px);
          background-color: var(--color-white);
          border-radius: 15px;
          padding: 90px 70px 85px;
          min-height: 600px;
          margin-top: auto;
          margin-bottom: auto;
          position: relative;
          overflow: hidden;
            .link-btn{
              width: 100%;
              margin-top: 28px;
                @include d(1441){
                  margin-top: 8px;
                }
                @include d(1200){
                  margin-top: 12px;
                }
            }
            @include d(1441){
              max-width: 450px;
              padding: 90px 60px 80px;
              min-height: 543px;
            }
            @include d(1200){
              min-height: 498px;
            }
            @include d(768){
              max-width: 390px;
              padding: 70px 40px;
            }
            @include d(600){
              max-width: 390px;
              padding: 70px 35px 50px;
              min-height: 490px;
            }
        }
        &-close{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
    }
    &-close{
      position: absolute;
      top: 23px;
      right: 23px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      padding: 0;
      border: none;
      border-radius: 50%;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--color-blue-100);
          opacity: .1;
          border-radius: 50%;
          transition: transform .4s ease;
          transform: scale(0);
        }
        &-icon{
          width: 36px;
          height: 36px;
          color: var(--color-black);
          transition: color .4s ease;
            rect{
              fill: currentColor;
            }
        }
        @include d(600){
          top: 16px;
          right: 14px;
        }
        @include hover(991){
          &:hover{
            &:before{
              transform: scale(1);
            }
            .modal-close-icon{
              color: var(--color-blue);
            }
          }
          &:active{
            &:before{
              transform: scale(1.16);
            }
          }
        }
    }
    &-title{
      margin-bottom: 38px;
        @include d(1441){
          margin-bottom: 26px;
        }
        @include d(1200){
          font-size: 36px;
          margin-bottom: 20px;
        }
        @include d(600){
          font-size: 28px;
          margin-bottom: 22px;
        }
    }
    &-form{

    }
    &-success{
      display: none;
      opacity: 0;
      transition: opacity .5s ease;
        .illustration{
          right: -21px;
          bottom: -4px;
          width: 440px;
            @include d(600){
              width: 370px;
            }
        }
    }
    &-label{
      font-size: 18px;
        @include d(1441){
          font-size: 16px;
        }
    }
    &-contacts{
      padding: 32px 0 10px;
        .link-btn{
          margin-top: 0;
          margin-bottom: 20px;
            @include d(1200){
              margin-bottom: 18px;
            }
            @include d(600){
              margin-bottom: 21px;
            }
        }
        @include d(1441){
          padding: 30px 0 7px;
        }
        @include d(1200){
          padding: 28px 0 11px;
        }
        @include d(600){
          padding: 25px 0 10px;
        }
    }
    .form-detail{
      @include d(1200){
        font-size: 12px;
      }
    }
    &#connect{
     .modal{
       &-title{
         margin-bottom: 11px;
          @include d(600){
            margin-bottom: 5px;
          }
       }
       &-content{
         &-box{
           padding: 90px 70px 40px;
            @include d(1441){
              padding: 90px 70px 55px;
            }
            @include d(1200){
              padding: 70px 40px 37px;
            }
            @include d(600){
              padding: 70px 30px 37px;
            }
         }
       }
     }
      .contacts-value{
        margin-top: 13px;
        font-size: 32px;
          @include m(1201){
            pointer-events: none;
          }
          @include d(1441){
            font-size: 30px;
            margin-top: 11px;
          }
          @include d(1200){
            font-size: 26px;
            margin-top: 10px;
          }
      }
    }
    .hide-on-mobile{
      @include d(600){
        display: none;
      }
    }
    .hide-on-desktop{
      @include m(601){
        display: none;
      }
    }
}