.nav{
  display: flex;
  align-items: center;
    .link{
      &-btn{
        @include m(601){
          display: none;
        }
      }
      &:not(:last-child){
        margin-right: 45px;
          @include d(1430){
            margin-right: 35px;
          }
          @include d(1200){
            margin-right: 0;
          }
      }
      @include d(1200){
        font-size: 42px;
        font-family: var(--font-title);
        opacity: 0;
        transition: none;
          &:not(:last-child){
            margin-bottom: 42px;
          }
      }
      @include d(600){
        &:not(:last-child){
          margin-bottom: 40px;
        }
      }
      @include d(600){
        font-size: 25px;
      }
    }
    &.shadows{
      @include d(1200){
        &:before{
          content: '';
          position: absolute;
          top: 10px;
          left: 10px;
          right: 10px;
          height: 100px;
          border-radius: 15px;
          pointer-events: none;
          background-color: var(--color-white);
          background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 71%, rgba(255,255,255,0) 100%);
          background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 71%,rgba(255,255,255,0) 100%);
          background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 71%,rgba(255,255,255,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
          z-index: 1;
        }
        &:after{
          content: '';
          position: absolute;
          bottom: 10px;
          left: 10px;
          right: 10px;
          height: 150px;
          background-color: var(--color-white);
          border-radius: 15px;
          pointer-events: none;
          background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%);
          background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        }
      }
      @include d(600){
        &:after{
          height: 85px;
        }
      }
    }
    @include d(1200){
      border-radius: 15px;
      background-color: var(--color-white);
      width: 56px;
      height: 56px;
      flex-direction: column;
      padding: 215px 30px 130px;
      overflow-y: auto;
      margin-right: 0;
      margin-left: auto;
    }
    @include d(600){
      padding: 120px 30px;
    }
    &-link{
      &.active{
        &[data-menuanchor="1"]{
          color: var(--color-blue);
        }
        &[data-menuanchor="2"]{
          color: var(--color-purple);
        }
        &[data-menuanchor="3"]{
          color: var(--color-pink);
        }
        &[data-menuanchor="4"]{
          color: var(--color-blue);
        }
        &[data-menuanchor="5"]{
          color: #10C261;
        }
        &[data-menuanchor="6"]{
          color: var(--color-blue);
        }
        &[data-menuanchor="7"]{
          color: var(--color-blue);
        }
        &[data-menuanchor="8"]{
          color: var(--color-blue);
        }
      }
    }
}