.prices{
  margin: 0 -30px;
    &-box{
      background-color: var(--color-white);
      border-radius: 20px;
      flex: 1;
      margin: 0 20px;
      text-align: center;
      padding: 0 0 78px;
      transition: transform .4s ease, opacity .4s ease;
        &-head{
          height: 88px;
          position: relative;
          overflow: hidden;
          border-radius: 20px 20px 0 0;
          background-color: #FFE4F4;
          margin-bottom: 62px;
            @include d(1440){
              height: 82px;
              margin-bottom: 45px;
            }
            @include d(600){
              height: 78px;
            }
        }
        &-title{
          padding: 0 20px 5px;
            @include d(1440){
              padding: 0 20px 2px;
            }
        }
        &-subtitle{
          padding: 0 20px;
          font-size: 16px;
            @include d(1440){
              font-size: 14px;
            }
        }
        &-value{
          border-radius: 50%;
          background-color: #FFEAF7;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 163px;
          height: 163px;
          margin: 20px auto 48px;
            @include d(1440){
              width: 143px;
              height: 143px;
              margin: 18px auto 40px;
            }
            @include d(600){
              width: 136px;
              height: 136px;
            }
        }
        &-illustration{
          position: absolute;
        }
        &:nth-child(odd){
            .prices-box-illustration{
              left: 50%;
              transform: translateX(-50%);
              top: -50px;
              width: 156px;
            }
            @include m(601){
              opacity: .95;
              transform: scale(.9);
            }
            @include hover(991){
              &:hover{
                transform: scale(1);
                opacity: 1;
                  & ~ .prices-box{
                    transform: scale(.9);
                    opacity: .95;
                  }
              }
            }
        }
        &:nth-child(even){
          .prices-box-illustration{
            width: 118%;
            left: -43px;
            top: -52px;
              @include d(1440){
                left: -25px;
                top: -27px;
              }
          }
        }
        @include d(1440){
          padding: 0 0 60px;
          margin: 0 10px;
        }
        @include d(600){
          width: 278px;
          padding: 0 0 55px;
        }
    }
    &-price{
      font-size: 58px;
      font-family: var(--font-bold);
      line-height: 1.2em;
        &-currency{
          font-size: 14px;
        }
      @include d(1440){
        font-size: 48px;
      }
    }
    .splide{
      &__list {
        flex-direction: row-reverse;
      }
      &__pagination{
        margin-top: 15px;
          &__page {
            &:before {
              background-color: var(--color-pink);
            }
          }
      }
    }
    @include m(601){
      visibility: visible;
        .splide__list{
          display: flex;
          flex-direction: row-reverse;
          width: 100%;
        }
    }
    @include d(1440){
      padding: 15px;
    }
    @include d(1200){
      padding: 0;
      margin: 0 -10px 40px;
    }
    @include d(600){
      margin: 0 -30px 40px;
      padding: 0 20px;
        .splide__track{
          overflow: visible;
        }
    }
}